<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="酒店辅助管理系统">
    <title>酒店辅助管理系统</title>

	<!-- Favicons-->
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">

	<!-- BASE CSS -->

	<link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
	<link href="../../static/css/vendors.css" rel="stylesheet" th:href="@{/css/vendors.css}">

	<!-- YOUR CUSTOM CSS -->
	<link href="../../static/css/custom.css" rel="stylesheet" th:href="@{/css/custom.css}">

</head>

<body>
	
	<div id="page">
		
	<header class="header menu_fixed">
		<div id="preloader"><div data-loader="circle-side"></div></div><!-- /Page Preload -->
		<!-- /top_menu -->
		<a href="#menu" class="btn_mobile">
			<div class="hamburger hamburger--spin" id="hamburger">
				<div class="hamburger-box">
					<div class="hamburger-inner"></div>
				</div>
			</div>
		</a>

        <nav id="menu" class="main-menu">
            <ul>
                <li><span><a href="./index.html" th:href="@{/user}">首页</a></span>
                </li>

                <li><span><a href="./hotelList.html" th:href="@{/user/hotelList}">住宿</a></span>

                </li>
                <li><span><a href="./foodInfo.html" th:href="@{/user/foodInfo}">饮食</a></span>

                </li>
                <li><span><a href="./orderList.html" th:href="@{/user/orderList}">订单</a></span>

                </li>
				<li th:if="${session.u_id} != null" ><span><a href="./userInfo.html" th:href="@{/user/userInfo}">个人中心</a></span>
				<li th:if="${session.u_id} == null" ><span><a href="./login.html" th:href="@{/user/loginPage}">请登录</a></span>

                </li>
                <li><span><a href="./aboutUs.html" th:href="@{/user/aboutUs}">关于我们</a></span>
                </li>

				<li th:if="${session.u_id} != null" ><span><a href="./index.html" th:href="@{/user/logout}">退出</a></span></li>
            </ul>
        </nav>

	</header>
	<!-- /header -->
	
	<main>
		
		<section class="hero_in hotels">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>酒 店 列 表</h1>
				</div>
			</div>
		</section>
		<!--/hero_in-->

		<div class="collapse" id="collapseMap">
			<div id="map" class="map"></div>
<!--			<input id="longitude" type="hidden" style="width:100px; margin-right:10px;" th:value="${longitude}"/>-->
<!--			<input id="latitude" type="hidden" style="width:100px; margin-right:10px;" th:value="${latitude}"/>-->
		</div>
		<!-- End Map -->

<!--        这里是搜索栏哦！！！！！！！ !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
        <div class="container margin_60_35">
            <div class="col-lg-12">
				<form th:action="@{/user/hotelSearch}"  onsubmit="return check()">    <!--这里是输入框哦！！！！！！！！！！！！！！！！！1-->
                <div class="row no-gutters custom-search-input-2 inner">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="酒店名称" name="hotel_translated_name" id="hotel_translated_name">
                            <i class="icon_search"></i>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="地点" name="hotel_place" id="hotel_address">
                            <i class="icon_pin_alt"></i>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <select class="wide" name="star_rating" id="starRating">
							<option>全部星级</option>
							<option>五星级</option>
							<option>四星级</option>
							<option>三星级</option>
							<option>二星级</option>
							<option>一星级</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <input type="submit" class="btn_search" value="搜索" id="search_btn">
                    </div>
                  </div>
				</form>
                <!-- /row -->
            </div>
            <!-- /custom-search-input-2 -->

         <div class="isotope-wrapper" >
                <div class="row">
            <!--             下面是用thymeleaf进行循环的          hotellist     -->
				<div class="col-xl-4 col-lg-6 col-md-6 isotope-item popular" th:each="hotellist,status:${hotelList}" th:if="${status.count}<=((${id}+1)*9) and (${id}*9)<${status.count}" >   <!--th:if="${status.count}<10"-->
					<div class="box_grid">
						<figure>
							<a href="#0" class="wish_bt"></a>
							<a href="" th:href="@{'/user/hotelInfo'+'?hotel_id='+${hotellist.hotelId}}"><img src="../../static/img/hotel_1.jpg"  th:src="${hotellist.photo2}" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
							<small th:text="${hotellist.city}"></small>
						</figure>
						<div class="wrapper">
							<div class="cat_star" th:switch="${hotellist.starRating}">
								<div th:case="'5'">
									<i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i>
								</div>
								<div th:case="'4.5'">
									<i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i>
								</div>
								<div th:case="'4'">
									<i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i>
								</div>
								<div th:case="'3.5'">
									<i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i>
								</div>
								<div th:case="'3'">
									<i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i>
								</div>
								<div th:case="'2.5'">
									<i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i>
								</div>
								<div th:case="'2'">
									<i class="icon_star"></i><i class="icon_star"></i>
								</div>
								<div th:case="'1.5'">
									<i class="icon_star"></i><i class="icon_star"></i>
								</div>
								<div th:case="'1'">
								<i class="icon_star"></i>
								</div>
							</div>
							<h3><a href=""  th:text="${hotellist.hotelTranslatedName}" style="white-space: nowrap"></a></h3>
							<p th:text="${hotellist.overview}"></p>
							<span class="price">房间数<strong th:text="${hotellist.numberrooms}"></strong> </span>
						</div>
						<ul>
							<li><div class="score"><span>Superb</span><strong th:text="${hotellist.ratingAverage}"></strong></div></li>
						</ul>
					</div>
				</div>
				<!-- /box_grid -->
			</div>
			<!-- /row -->
           </div>
			<!-- /isotope-wrapper -->
			</div>
<!--           下面这个是更多 按钮  绑定了点击事件-->
		<p class="text-center"><a th:href="@{'/user/hotelList?id='+${id+1}}"  id="more_btn" class="btn_1 rounded add_top_30">更多</a></p>
		<!-- /container -->
	</main>
	<!--/main-->
	
<footer>            <!--	下面是页脚-->
		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-5 col-md-12 p-r-5">


				</div>
				<div class="col-lg-3 col-md-6 ml-lg-auto">

				</div>
				<div class="col-lg-3 col-md-6">

				</div>
			</div>
			<!--/row-->
			<hr>
			<div class="row">
				<div class="col-lg-6">
					<ul id="footer-selector">

					</ul>
				</div>
				<div class="col-lg-6">
					<ul id="additional_links">

						<li><span>© 2019 酒店管理系统</span></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!--/footer-->
	</div>
	<!-- page -->

	
	<div id="toTop"></div><!-- Back to top button -->
	<script>        //这里是用于检测搜索框的，如果为空则不允许点击
	function check() {
		if($('#hotel_address').val()==""&&$('#hotel_translated_name').val()==""){
			return false;
		}
	}
	</script>
	<!-- COMMON SCRIPTS -->
    <script src="../../static/js/jquery-2.2.4.min.js" th:src="@{/js/jquery-2.2.4.min.js}"></script>
    <script src="../../static/js/common_scripts.js" th:src="@{/js/common_scripts.js}"></script>
    <script src="../../static/js/main.js" th:src="@{/js/main.js}"></script>
	<script src="../../static/assets/validate.js" th:src="@{/assets/validate.js}"></script>
	
<!--&lt;!&ndash;	&lt;!&ndash; Map &ndash;&gt;   这个到时候要换成百度API&ndash;&gt;-->
	<!--<script src="http://maps.googleapis.com/maps/api/js"></script>-->
	<!--<script src="../../static/js/markerclusterer.js"></script>-->
	<!--<script src="../../static/js/map_hotels.js"></script>-->
	<!--<script src="../../static/js/infobox.js"></script>-->
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=PlhFWpA02aoURjAOpnWcRGqw7AI8EEyO"></script>
	<script type="text/javascript">

        // 百度地图API功能
		var map = new BMap.Map("map");
		var longitude = $("#longitude").val();
		var latitude = $("#latitude").val();
		var point = new BMap.Point(longitude,latitude);  // 中心位置
		map.addControl(new BMap.NavigationControl());   //平移缩放控件
		map.addControl(new BMap.ScaleControl());        //比例尺
		map.addControl(new BMap.OverviewMapControl());  //缩略地图
		map.addControl(new BMap.MapTypeControl());      //地图类型
		map.centerAndZoom(point,15);
		var marker = new BMap.Marker(point);//创建标注
		map.enableScrollWheelZoom(true);
		map.addOverlay(marker);              // 将标注添加到地图中
		// // 用经纬度设置地图中心点
		// function theLocation(){
		//   if(document.getElementById("longitude").value != "" && document.getElementById("latitude").value != ""){
		//     map.clearOverlays();
		//     var new_point = new BMap.Point(document.getElementById("longitude").value,document.getElementById("latitude").value);
		//
		//   }
		// }
		marker.addEventListener('click', function (e) {
			// 通过点击的坐标创建一个点对象，添加标签
			var point = new BMap.Point(e.point.lng, e.point.lat);
			var opts = {
				title: hotelTranslatedName,
				enableMessage: false,
			};
			var infowindow = new BMap.InfoWindow("<br/>", opts);
			map.openInfoWindow(infowindow, point);
		});

		var geolocation = new BMap.Geolocation();
		geolocation.getCurrentPosition(function(r){
		    if(this.getStatus() == BMAP_STATUS_SUCCESS){
		        var mk = new BMap.Marker(r.point);
		        map.addOverlay(mk);
		        map.panTo(r.point);
		        mk.addEventListener('click', function (e) {
		            // 通过点击的坐标创建一个点对象，添加标签
		            var point = new BMap.Point(e.point.lng, e.point.lat);
		            var opts = {
		                title: "您 的 位 置 在 这 里",
		                enableMessage: false,
		            }
		            var infowindow = new BMap.InfoWindow("<br/>请跟随导航前进", opts);
		            map.openInfoWindow(infowindow, point);
		        });
		        // alert('您的位置：'+r.point.lng+','+r.point.lat);
		        var driving = new BMap.DrivingRoute(map, {renderOptions:{map: map, autoViewport: true}});
		        driving.search(r.point,point);
		    }
		    else {
		        alert('failed'+this.getStatus());
		    }
		},{enableHighAccuracy: true})
	</script>

	<!-- Masonry Filtering -->
	<script src="../../static/js/isotope.min.js" th:src="@{/js/isotope.min.js}"></script>

<!--	下面是模板自带的js-->
	<script>
	$(window).load(function(){
	  var $container = $('.isotope-wrapper');
	  $container.isotope({ itemSelector: '.isotope-item', layoutMode: 'masonry' });
	});

	$('.filters_listing').on( 'click', 'input', 'change', function(){
	  var selector = $(this).attr('data-filter');
	  $('.isotope-wrapper').isotope({ filter: selector });
	});
	</script>
	
	
  
</body>
</html>